In [2]:
import pandas as pd

In [5]:
election_results = pd.read_csv('us-2016-primary-results.csv', delimiter=";")
election_results

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Vermont,VT,Sutton,95000197.0,Republican,John Kasich,20,0.227
1,Vermont,VT,Tunbridge,95000204.0,Republican,John Kasich,36,0.319
2,Vermont,VT,Weathersfield,95000220.0,Republican,Ted Cruz,46,0.111
3,Vermont,VT,Weston,95000228.0,Republican,John Kasich,32,0.471
4,Vermont,VT,Whiting,95000233.0,Republican,Ben Carson,0,0.000
...,...,...,...,...,...,...,...,...
24606,Wisconsin,WI,Racine,55101.0,Republican,Donald Trump,11756,0.321
24607,Wisconsin,WI,Rusk,55107.0,Republican,Ted Cruz,1339,0.410
24608,Wisconsin,WI,Sawyer,55113.0,Republican,Donald Trump,2034,0.539
24609,Wyoming,WY,Weston,56045.0,Democrat,Bernie Sanders,1,0.500
24610,Wyoming,WY,Hot Springs-Washakie,95600030.0,Republican,Donald Trump,0,0.000

In [7]:
election_by_county = pd.read_csv('usa-2016-presidential-election-by-county.csv', delimiter=";")
eelection_by_county

,State,ST,Fips,County,Precincts,Votes,Democrats 08 (Votes),Democrats 12 (Votes),Republicans 08 (Votes),Republicans 12 (Votes),...,total08,total12,other08,other12,Other12 Frac,Other08 Frac,Rep12 Frac2,Rep08 Frac2,Dem12 Frac2,Dem08 Frac2
0,Alaska,AK,2100,"Haines Borough, Alaska",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Nebraska,NE,31145,"Red Willow County, Nebraska",13.0,5061.0,1216.0,952.0,3735.0,3891.0,...,5044.0,4936.0,93.0,93.0,0.018841,0.018438,0.803428,0.754393,0.196572,0.245607
2,California,CA,6015,"Del Norte County, California",18.0,9361.0,4323.0,3791.0,4967.0,4614.0,...,9531.0,8770.0,241.0,365.0,0.041619,0.025286,0.548959,0.534661,0.451041,0.465339
3,Florida,FL,12031,"Duval County, Florida",199.0,428734.0,202618.0,196737.0,210537.0,211615.0,...,415761.0,411848.0,2606.0,3496.0,0.008489,0.006268,0.518217,0.509584,0.481783,0.490416
4,Kansas,KS,20053,"Ellsworth County, Kansas",25.0,2626.0,851.0,702.0,2021.0,1930.0,...,2938.0,2712.0,66.0,80.0,0.029499,0.022464,0.733283,0.703691,0.266717,0.296309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,Tennessee,TN,47131,"Obion County, Tennessee",12.0,12223.0,4308.0,3321.0,8873.0,8814.0,...,13392.0,12297.0,211.0,162.0,0.013174,0.015756,0.726329,0.673166,0.273671,0.326834
3139,Michigan,MI,26099,"Macomb County, Michigan",337.0,418773.0,223784.0,208016.0,187663.0,191913.0,...,419216.0,404086.0,7769.0,4157.0,0.010287,0.018532,0.479868,0.456105,0.520132,0.543895
3140,West Virginia,WV,54007,"Braxton County, West Virginia",18.0,5063.0,2704.0,1998.0,2629.0,2725.0,...,5409.0,4804.0,76.0,81.0,0.016861,0.014051,0.576964,0.492968,0.423036,0.507032
3141,North Carolina,NC,37121,"Mitchell County, North Carolina",9.0,7948.0,2238.0,1838.0,5499.0,5806.0,...,7846.0,7765.0,109.0,121.0,0.015583,0.013892,0.759550,0.710741,0.240450,0.289259
3142,Maryland,MD,24019,"Dorchester County, Maryland",39.0,14034.0,6912.0,7257.0,8168.0,7976.0,...,15274.0,15444.0,194.0,211.0,0.013662,0.012701,0.523600,0.541645,0.476400,0.458355

In [8]:
election_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24611 entries, 0 to 24610
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   state               24611 non-null  object
 1   state_abbreviation  24611 non-null  object
 2   county              24611 non-null  object
 3   fips                24511 non-null  float64
 4   party               24611 non-null  object
 5   candidate           24611 non-null  object
 6   votes               24611 non-null  int64
 7   fraction_votes      24611 non-null  float64
dtypes: float64(2), int64(1), object(5)
memory usage: 1.5+ MB

In [9]:
election_by_county.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3143 entries, 0 to 3142
Columns: 159 entries, State to Dem08 Frac2
dtypes: float64(147), int64(2), object(10)
memory usage: 3.8+ MB